<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Content" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_Dvr" />
        <binding name="BasicHttpBinding_Channel"  maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
      <binding name="FileServiceBinding" 
                 messageEncoding="Mtom">
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fattony.reederhome.com:6544/Content"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Content"
        contract="FattonyContent.Content" name="BasicHttpBinding_Content" />
      <endpoint address="http://fattony.reederhome.com:6544/Content/GetFile"
                binding="wsHttpBinding" bindingConfiguration="FileServiceBinding"
                contract="FattonyContent.Content.GetFile"/>
      <endpoint address="http://fattony.reederhome.com:6544/Dvr" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_Dvr" contract="FattonyDvr.Dvr"
        name="BasicHttpBinding_Dvr" />
      <endpoint address="http://fattony.reederhome.com:6544/Channel"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Channel"
        contract="FattonyChannel.Channel" name="BasicHttpBinding_Channel" />
    </client>
  </system.serviceModel>
</configuration>